TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHANNEL_ID=-1001219339693
ADMIN_ID=126642711
PINTEREST_FEED=https://ru.pinterest.com/sabraman/1telegram.rss
DATABASE_PATH=data/bot.sqlite
RSS_POLL_SECONDS=180
PUBLISH_POLL_SECONDS=900
PUBLISH_RETRY_SECONDS=300
QUEUE_LOCK_SECONDS=120
MAX_PUBLISH_ATTEMPTS=5
FETCH_TIMEOUT_SECONDS=30
PUBLISH_SEND_DELAY_MS=1000
